*.pyc
/src/*.egg-info
/build
/dist
/docs/_build
__pycache__
.eggs/
.cache/
.pytest_cache/
.idea/
/test-report.xml
/test-report-*.xml
/venv/
tmp/
/src/toil/test/cwl/spec
/cwltool_deps/
/docs/generated_rst/
/docker/Dockerfile
/docker/toil-*.tar.gz
/src/toil/version.py
.coverage*
