*.pyc
/src/*.egg-info
/build
/dist
/docs/_build
__pycache__
.eggs/
.cache/
/test-report.xml
/test-report-*.xml
/venv/
/src/toil/test/cwl/spec
/docs/generated_rst/
/docker/Dockerfile
/docker/toil-*.tar.gz
