image: quay.io/vgteam/vg_ci_prebake:latest
# Note that we must run in a priviliged container for our internal Docker daemon to come up.

before_script:
  - startdocker || true
  - docker info
  - cat /etc/hosts
  - export PYTHONIOENCODING=utf-8
  - mkdir -p ~/.kube && cp "$GITLAB_SECRET_FILE_KUBE_CONFIG" ~/.kube/config
  - mkdir -p ~/.aws && cp "$GITLAB_SECRET_FILE_AWS_CREDENTIALS" ~/.aws/credentials
after_script:
  # We need to clean up any files that Toil may have made via Docker that
  # aren't deletable by the Gitlab user. If we don't do this, Gitlab will try
  # and clean them up before running the next job on the runner, fail, and fail
  # that next job.
  - pwd
  - sudo rm -rf tmp
  - stopdocker || true


stages:
  - main_tests
  - test
  - integration


# Python3.6
py3_batch_systems:
  stage: test
  script:
    - pwd
    - apt update && DEBIAN_FRONTEND=noninteractive apt install -y tzdata && apt install -y jq
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor awscli==1.16.272
    - python -m pytest -s -r s src/toil/test/batchSystems/batchSystemTest.py
    - python -m pytest -s -r s src/toil/test/mesos/MesosDataStructuresTest.py

py3_cwl:
  stage: test
  script:
    - pwd
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor
    - python -m pytest -s -r s src/toil/test/cwl/cwlTest.py

py3_wdl:
  stage: test
  script:
    - pwd
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor
    - python -m pytest -s -r s src/toil/test/wdl/toilwdlTest.py

py3_jobstore_and_provisioning:
  stage: test
  script:
    - pwd
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor
    - python -m pytest -s -r s src/toil/test/jobStores/jobStoreTest.py
    - python -m pytest -s -r s src/toil/test/sort/sortTest.py
    - python -m pytest -s -r s src/toil/test/provisioners/aws/awsProvisionerTest.py
    - python -m pytest -s -r s src/toil/test/provisioners/clusterScalerTest.py
    - python -m pytest -s -r s src/toil/test/provisioners/gceProvisionerTest.py

py3_main:
  stage: main_tests
  script:
    - pwd
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor
    - python -m pytest -s -r s src/toil/test/src
    - python -m pytest -s -r s src/toil/test/utils

py3_appliance_build:
  stage: main_tests
  script:
    - pwd
    - apt update && DEBIAN_FRONTEND=noninteractive apt install -y tzdata && apt install -y jq
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor awscli==1.16.272
    # This reads GITLAB_SECRET_FILE_QUAY_CREDENTIALS
    - python3.6 setup_gitlab_docker.py
    - export TOIL_APPLIANCE_SELF=quay.io/ucsc_cgl/toil:$(python version_template.py dockerTag)
    - echo $TOIL_APPLIANCE_SELF
    - make push_docker

py3_integration:
  stage: integration
  script:
    - pwd
    - apt update && DEBIAN_FRONTEND=noninteractive apt install -y tzdata && apt install -y jq
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor awscli==1.16.272
    - export TOIL_TEST_INTEGRATIVE=True
    - export TOIL_AWS_KEYNAME=id_rsa
    - export TOIL_AWS_ZONE=us-west-2a
    # This reads GITLAB_SECRET_FILE_SSH_KEYS
    - python setup_gitlab_ssh.py
    - chmod 400 /root/.ssh/id_rsa
    - python -m pytest -s -r s src/toil/test/jobStores/jobStoreTest.py

provisioner_integration:
  stage: integration
  script:
    - pwd
    - apt update && DEBIAN_FRONTEND=noninteractive apt install -y tzdata awscli jq
    - virtualenv -p python3.6 venv && . venv/bin/activate && make prepare && make develop extras=[all] && pip install htcondor awscli==1.16.272
    - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
    - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
    - export LIBPROCESS_IP=127.0.0.1
    - python setup_gitlab_docker.py
    - export TOIL_TEST_INTEGRATIVE=True; export TOIL_AWS_KEYNAME=id_rsa; export TOIL_AWS_ZONE=us-west-2a
    - export TOIL_APPLIANCE_SELF=quay.io/ucsc_cgl/toil:$(python version_template.py dockerTag)
    - echo $TOIL_APPLIANCE_SELF
    - make push_docker
    - python -m pytest -s -r s src/toil/test/provisioners/aws/awsProvisionerTest.py::AWSRestartTest::testAutoScaledCluster
    # - python -m pytest -s src/toil/test/provisioners/aws/awsProvisionerTest.py
    # - python -m pytest -s src/toil/test/provisioners/gceProvisionerTest.py  # needs env vars set to run
