pytest>=6.2.1,<9
pytest-cov>=2.12.1,<7
pytest-timeout>=1.4.2,<3
stubserver>=1.1,<2
setuptools>=65.5.1,<78
sphinx>=7,<9
sphinx-autoapi>=3.2.1,<4
astroid>=3,<4
sphinx-autodoc-typehints>=1.24.0,<4
sphinxcontrib-autoprogram==0.1.9
cwltest>=2.2.20211116163652
mypy==1.15.0
types-aws-xray-sdk
types-boto<2.49.18.20241020
types-Flask-Cors
types-requests
types-psutil>=6.1.0.20241102
types-python-dateutil
types-setuptools
types-xmltodict
flake8>=3.8.4,<8
flake8-bugbear>=20.11.1,<25
black
isort
pydocstyle
autoflake
isort
diff_cover
lxml
docutils>=0.16,<0.22
pyupgrade
pytest-xdist
build
check-jsonschema
