mock>=4.0.3,<5
pytest>=6.2.1,<7
pytest-cov>=2.12.1,<4
pytest-timeout>=1.4.2,<3
stubserver>=1.1,<2
setuptools>=51.3.3,<59
sphinx>=3.5.3,<4
cwltest>=2.2.20210901154959
mypy==0.910
types-requests
types-setuptools
types-boto
types-pytz
flake8>=3.8.4,<5
flake8-bugbear>=20.11.1,<21
black
isort
pydocstyle
autoflake
isort
diff_cover
lxml
docutils>=0.16,<0.19
pyupgrade
