dill>=0.3.2, <0.5
requests<=2.32.5
docker>=6.1.0, <8
urllib3>=1.26.0,<3
python-dateutil
psutil >= 6.1.0, < 8
PyPubSub >=4.0.3, <5
addict>=2.2.1, <2.5
enlighten>=1.5.2, <2
configargparse>=1.7,<2
ruamel.yaml>=0.15
pyyaml>=6,<7
typing-extensions>=4.6.2, <5
coloredlogs>=15,<16
prompt_toolkit>=3.0,<4
