mock>=4.0.3,<6
pytest>=6.2.1,<8
pytest-cov>=2.12.1,<5
pytest-timeout>=1.4.2,<3
stubserver>=1.1,<2
setuptools>=65.5.1,<68
sphinx>=4,<6
sphinx-autoapi
sphinx-autodoc-typehints
sphinxcontrib-autoprogram
cwltest>=2.2.20211116163652
mypy==1.2.0
types-requests
types-setuptools
types-boto
types-pytz
flake8>=3.8.4,<7
flake8-bugbear>=20.11.1,<24
black
isort
pydocstyle
autoflake
isort
diff_cover
lxml
docutils>=0.16,<0.18
pyupgrade
pytest-xdist
